{% extends '::base.html.twig' %}

{% block title %}
Ajouter une commande
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    {{ form_errors(form) }}
    <h3>Ajouter une commande</h3>
    {{ form_start(form) }}
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="form-group">
            {{ form_label(form.order_id) }}
            {{ form_errors(form.order_id) }}
            {{ form_widget(form.order_id, {'attr': {'class': 'form-control'}}) }}
          </div>
          <div class="form-group">
            {{ form_label(form.billing_email) }}
            {{ form_errors(form.billing_email) }}
            {{ form_widget(form.billing_email, {'attr': {'class': 'form-control'}}) }}
          </div>
          <div class="form-group">
            {{ form_label(form.billing_zipcode) }}
            {{ form_errors(form.billing_zipcode) }}
            {{ form_widget(form.billing_zipcode, {'attr': {'class': 'form-control'}}) }}
          </div>
          <div class="form-group">
            {{ form_label(form.order_amount) }}
            {{ form_errors(form.order_amount) }}
            <div class="input-group">
              {{ form_widget(form.order_amount, {'attr': {'class': 'form-control'}}) }}
              <div class="input-group-addon">€</div>
            </div>
          </div>
          {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-block'}}) }}
        </div>
        </div>
        {{ form_rest(form) }}
      </div>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}
