{% extends '::base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('working_example.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<h3 class="page-header">
  Liste des commandes
</h3>
{{ grid(grid) }}
{% endblock %}
