{% extends '::base.html.twig' %}

{% block body %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="page-header">
      <h3>
        Commandes
        <small>{{ orders | length }}</small>
        <a href="{{ path("lengow_test_homepage") }}" target="_blank"><button class="pull-right btn btn-primary">JSON</button></a></h3>
    </div>
  {% include "LengowTestBundle:Default:viewOrders.html.twig" %}
  </div>
</div>
{% endblock %}
