{% for order in orders %}
  {% include "LengowTestBundle:Default:viewOrder.html.twig" %}
{% else %}
<p>
<em>Il n'y a aucune commande dans la base de données...</em><br />
Vous pouvez
<a href="{{ path("lengow_add_order") }}">ajouter une commande</a> ou
<a href="{{ path("lengow_load_xml") }}">mettre à jour</a>
<p>
{% endfor %}
