<div class="panel panel-default">
  <div class="panel-heading">
    <strong>#{{ order.orderId }}</strong>
  </div>
  <div class="panel-body">
    <p>
      Facturé à <a href="mailto:{{ order.billingEmail }}">{{ order.billingEmail }}</a><br />
      Pour un total de <strong>{{  order.orderAmount }} EUR</strong>
    </p>
    <div class="text-right">
      <a href="{{ path('lengow_test_view', {'id_order': order.orderId}) }}" target="_blank">
        <button class="btn btn-primary btn-sm">JSON</button>
      </a>
    </div>
  </div>
</div>
